.Form{
   align-items: center;
    background-color: rgb(107, 186, 255);
    padding:10px;
    width:400px;
    height:400px;
    margin-left:400px;
    border-radius: 5px;
    margin-top:90px;
    border: 2px solid black;
    box-shadow: 2px;
}

