.all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
p{
    font-size: large;
    font-style: italic;
    color: rgb(255, 109, 134);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1,h3{
    color: rgb(65, 100, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-decoration:underline;
}
img{
    border:3px solid black;
    box-shadow: 5px 5px 4px;
    border-radius: 5px;
}
a:hover{
    color:red;
}
ol{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}