.fs{
    border: 4px solid black;
    padding:27px;
    width:450px;
}
.leg{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:brown
}
input{
    width:180px;
    height:25px;
}